<div class="container">
    <div class="row">

        <div class="6u">
          <%- partial('_partial/header.ejs') %>
        </div>
        <div class="6u">
            <% page.posts.each(function(post){ %>
            <%- partial('_partial/article', {post: post}) %>
            <% })%>

            <nav>
                <% if(page.prev) {%>
                <a href="<%- url_for(page.prev_link) %>">上页</a>
                <% }%>

                <% if(page.next) {%>
                <a href="<%- url_for(page.next_link) %>">下页</a>
                <% }%>
            </nav>

        </div>
    </div>
</div>

