<% console.log('hello') %>
<% page.posts.sort("dt", "desc").each(function(post){ %>
<%- partial('_partial/article', {post: post, index: true}) %>
<% }) %>

<section>
    <nav>
        <% if(page.prev) { %>
        <a id="left-navigator" href="<%- url_for(page.prev_link) %>">上</a>
        <% } %>
        <% if(page.next) { %>
        <a id="right-navigator" href="<%- url_for(page.next_link) %>">下</a>
        <% } %>
    </nav>
</section>


