<%- partial('_partial/head') %>
<body>
<div class="container-fluid">
    <div class="row cont-wrap">
        <div class="col-sm-0 col-md-3 col-md-offset-2">
            <%- partial('_partial/header.ejs') %>
        </div>
        <div class="col-md-7">
        <%- body %>
        </div>
    </div>
</div>
</body>
</html>
