<%- partial('_partial/head') %>
<body style="overflow-y: scroll">
<div class="container-fluid">
    <div class="row cont-wrap">
        <div class="col-sm-0 col-md-3 col-md-offset-2">
            <%- partial('_partial/header.ejs') %>
            <!--<%- partial('_partial/footer.ejs') %>-->
        </div>

        <div class="col-md-6">
        <%- body %>
        </div>
        <!--<div class="visible-lg col-md-1">test</div>-->
    </div>
</div>
</body>
</html>
