<header>
    <!--<a href="<%- url_for( theme.root) %>" title="<%- theme.intro %>">-->
        <!--<img src="<%- url_for(theme.logo) %>" />-->
    <!--</a>-->
    <object data="/blog/static/logo.svg"></object>
    <p id="subtitle"><%- theme.subtitle || ""%></p>
</header>