<section>
    <nav>
        <% if(post.prev) { %>
        <a id="left-navigator" href="<%- url_for(post.prev.path) %>">上</a>
        <% }%>
        <% if(post.next) { %>
        <a hid="right-navigator" href="<%- url_for(page.next.path) %>">下</a>
        <% }%>
    </nav>
</section>


