<object data="/blog/static/logo0.svg"></object>
<hr><br>
<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <p>ZJHOU.COM/BLOG是由<a href="http://hexo.io">HEXO</a>生成的静态博客，ZJHOU取自字符串“ZHOU Jia Hao”。
                内容主要是写给自己看的日志。作者是前端程序员。
            </p>
        </div>
    </div>
    <div class="col-md-7"> : 关于 ／ About </div>
</div>


<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <p>
                z(at)zjhou.com</br>
            </p>
        </div>
    </div>
    <div class="col-md-7"> : 联系 ／ Contact </div>
</div>

<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <p>
                <a href="http://github.com/zjhou">github.com/zjhou</a></br>
                <a href="http://zjhou.com/rbg">Raw BloG</a></br>
                <a href="http://geekwen.com">Geekwen</a></br>
            </p>
        </div>
    </div>
    <div class="col-md-7"> : 链接 ／ Link</div>
</div>

<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <p></p>
        </div>
    </div>
    <div class="col-md-7"> &copy; 2016, zjhou.com. All rights reserved.</div>
</div>
