<!--<object data="/blog/static/logo.svg"></object>-->

<svg width="13" height="21" version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="white" d="M0 0  L5 0  L5 3  L0 3  L0 0  M8 0 L13 0 L13 3 L8 3 L8 0 M0 6  L5 6  L5 9  L0 9  L0 6  M8 6 L13 6 L13 9 L8 9 L8 6 M0 21 L13 21 L13 13 L0 13 L0 21 Z"/>
    </a>
</svg>
<hr><br>
<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <p>男，九零后，前端程序员。
            </p>
        </div>
    </div>
    <div class="col-md-7"> : 关于 ／ About </div>
</div>
<hr>
<br>


<!--<div class="row">-->
    <!--<div class="col-md-5 col-sm-3">-->
        <!--<div class="pl-cont">-->
            <!--<p>-->
                <!--z(at)zjhou.com</br>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-7"> : 联系 ／ Contact </div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col-md-5 col-sm-3">-->
        <!--<div class="pl-cont">-->
            <!--<p>-->
                <!--<a href="http://github.com/zjhou">github.com/zjhou</a></br>-->
                <!--<a href="http://zjhou.com/rbg">Raw BloG</a></br>-->
                <!--<a href="http://geekwen.com">Geekwen</a></br>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-7"> : 链接 ／ Link</div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <table>
                <tr><td>上页</td><td>h</td></tr>
                <tr><td>下页</td><td>l</td></tr>
                <tr><td>上篇</td><td>k</td></tr>
                <tr><td>下篇</td><td>j</td></tr>
                <tr><td>主页</td><td>i</td></tr>
                <tr><td>首篇</td><td>t</td></tr>
                <tr><td>末篇</td><td>b</td></tr>
                <tr><td>归档</td><td>a</td></tr>
            </table>
        </div>
    </div>
    <div class="col-md-7"> : 按键 ／ Shortcuts</div>
</div>

<hr>
<div class="row">
    <div class="col-md-5 col-sm-3">
        <div class="pl-cont">
            <p></p>
        </div>
    </div>
    <div class="col-md-7" > &copy; 2016, zjhou.com. All rights reserved.</div>
</div>
